<div class="container">
  <% if flash[:danger] %>
    <div class="alert alert-danger">
      <%= flash[:danger] %>
    </div>
  <% end %>

  <h2>動画一覧</h2>

  <% @videos.each do |video| %>
    <div class="index-content">
      <div class="col-lg-3">
        <div class="card">
          <iframe class="iframe" src="http://www.youtube.com/embed/<%= video.youtube_uuid %>"></iframe>
          <h2><%= truncate(video.title, length: 8) %></h2>
          <p><%= truncate(video.content, length: 15) %></p>
          <div class="a"><%= link_to '詳細',video_path(video), class:"btn btn-primary" %></div>
        </div>
      </div>
    </div>
  <% end %>
</div>